body {
    background-color: #121213;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "wodle-font";
    src: url("wordlefont.woff2");
}

.tile {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    user-select: none;
    overflow: hidden;
    width: 64px;
    height: 64px;
    border: 2px solid #3a3a3c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    border-bottom: 1px solid #3a3a3c;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-family: 'wodle-font';
    font-weight: 700;
    font-size: 37px;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-align: center;
    left: 0;
    right: 0;
    pointer-events: none;
}

.game_board {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.board {
    display: grid;
    grid-template-rows: 6;
    min-height: 100%;
    grid-gap: 5px;
    max-inline-size: 0%;
    justify-content: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

:root {
    color: white;
}